body {
    background-color: rgba(5, 58, 40, 0.5);
    font-family: poppins;
}

h1 {
    text-align: center;
    color: orange;
    padding: 20px;
}

h6 {
    color: orange;
}

.app {
    background-color: black;
}

.movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: white;
    padding: 30px;
}

.actor {
    margin: 10px;
}

.image-actor {
    width: 100%;
    border-radius: 20px;
}

.pop-up-figure {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px
}