body {
    background-color: #333;
}

.App {
    text-align: center;
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
}

.card {
    width: 120px;
    height: 120px;
    background-color: rgb(241, 196, 13);
    border: 1px solid black;
    box-sizing: border-box;
}

.card:hover {
    border: 2px solid red;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    border: 2px solid red;
    object-fit: cover;
}

.not-show {
    display: none;
}

.show {
    display: block;
}